# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
*.exe
ConsoleTestApplication/bin/Debug/ConsoleTestApplication.exe.config
ConsoleTestApplication/bin/Debug/ConsoleTestApplication.vshost.exe.config
ConsoleTestApplication/bin/Debug/Splinter.dll
ConsoleTestApplication/obj/Debug/ConsoleTestApplication.csproj.FileListAbsolute.txt
*.cache
ConsoleTestApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleTestApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleTestApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
WpfTestApplication/bin/Debug/WpfTestApplication.exe.config
WpfTestApplication/bin/Debug/WpfTestApplication.vshost.exe.config
WpfTestApplication/obj/Debug/App.baml
WpfTestApplication/obj/Debug/App.g.cs
WpfTestApplication/obj/Debug/App.g.i.cs
WpfTestApplication/obj/Debug/DataTemplates.baml
WpfTestApplication/obj/Debug/GeneratedInternalTypeHelper.g.cs
WpfTestApplication/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WpfTestApplication/obj/Debug/MainWindow.baml
WpfTestApplication/obj/Debug/MainWindow.g.cs
WpfTestApplication/obj/Debug/MainWindow.g.i.cs
WpfTestApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpfTestApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpfTestApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.baml
WpfTestApplication/obj/Debug/View1.g.cs
WpfTestApplication/obj/Debug/View1.g.i.cs
WpfTestApplication/obj/Debug/View2.g.cs
WpfTestApplication/obj/Debug/View2.g.i.cs
WpfTestApplication/obj/Debug/WpfTestApplication.csproj.FileListAbsolute.txt
WpfTestApplication/obj/Debug/WpfTestApplication.g.resources
WpfTestApplication/obj/Debug/WpfTestApplication.Properties.Resources.resources
WpfTestApplication/obj/Debug/WpfTestApplication_MarkupCompile.i.lref
WpfTestApplication/obj/Debug/WpfTestApplication_MarkupCompile.lref
Splinter/obj/Debug/GeneratedInternalTypeHelper.g.cs
Splinter/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Splinter/obj/Debug/Splinter.csproj.FileListAbsolute.txt
Splinter/obj/Debug/Splinter.g.resources
Splinter/obj/Debug/Splinter_MarkupCompile.lref
Splinter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Splinter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Splinter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Splinter/obj/Debug/WpfControls/Styles/AnimatedContentControl.g.i.cs
